@import "tailwindcss";

html {
  scroll-behavior: smooth;
}

body {
  background: #050816;
  overflow-x: hidden;
  cursor: none;
}

@keyframes float {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(-12px);
  }

  100% {
    transform: translateY(0px);
  }
}